<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClockKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WatchKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1002D9A9197F2F7E00ADD839</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1002D9B3197F2F7E00ADD839</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D0FDE01968A0F7007D7239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D0FDF61968A0F7007D7239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D0FE111968A24A007D7239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D0FE1B1968A24A007D7239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
